<center>
   <h1 style= "color :rgb(34, 147, 234)">ATN Toy Store</h1>
   <br>
   <img src="https://uniquekiosk.com/wp-content/uploads/2019/04/image-768x511.jpg" alt="">
   <br><br>
   <h2>About Us</h2>
   <br><br>
   <h5>ATN Toy Store: Your Optics Adventure Awaits!</h3>
   <div>
      <p>Welcome to ATN Toy Store, where innovation meets adventure.</p>
      <p>As pioneers in the tech optics industry, we bring you cutting-edge optics for every pursuit.</p>
      <p>Whether you're a hunter, an outdoor enthusiast, or part of the military and law enforcement, our products redefine clarity and precision.</p>
   </div>
</center>