<div class="container text-center col-md-6">
  <form action="/type/add" method="post">
    <h1 class="text text-primary text-uppercase">Add new type</h1>
    <label for="">Name</label><br>
    <input class="form-control"type="text" name="name"><br><br>
    <label for="">Quantity</label><br>
    <input class="form-control" type="number" name="quantity"><br><br>
    <input type="submit" value="Add">
  </form>
</div>