<div class="container text-center col-md-6">
  <form action="/brand/add" method="post">
    <h1 class="text text-primary text-uppercase">Add new brand</h1>
    <label for="">Name</label><br>
    <input class="form-control"type="text" name="name"><br><br>
    <input type="submit" value="Add">
  </form>
</div>