<div class="container text-center col-md-6">
   <form action="/brand/edit/{{brand._id}}" method="post">
   <h1>Edit Brand</h1>
   <label for="">Name</label><br>
   <input type="text" name="name" 
   value="{{ brand.name }}"><br><br>
   <input type="submit" value="Edit">
</form>
</div>